version: 2.1

jobs:
  build:
    docker:
      - image: cimg/node:14.18.1
    steps:
      - checkout
      - run:
          name: yarn install --production
          command: yarn install --production
      - run: node index.js

workflows:
  monitor:
    triggers:
      - schedule:
          cron: "20 15 * * *"
          filters:
            branches:
              only:
                - main
    jobs:
      - build
  build:
    jobs:
      - build
